// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;
$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-count {

  background-color: $background-color;

  .title {
      font-size: 32px;
      color: $title-color;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      bottom: 0;
  }
  .value {
	font-size: 52px;
  }
  .before-more-info {
    font-size: 15px;
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
  }
}